@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
*,
*::after,
*::before{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

html{
    font-size:62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    background:#2b2e4a;
    color: white;
}

a{
    text-decoration: none;
    color:white;
    font-size: 1.2rem;
    font-weight: 700;
    margin:10px
}

h1{
    font-size:4em;
    text-align: center;
    margin:4rem auto;
    width:100%;
    font-weight: 700;
    max-width:800px;
    font-family: 'RocknRoll One', sans-serif;

}

h2{
    font-size:2em;
    text-align: center;
    margin:2rem auto 5rem auto;
    width:100%;
    max-width:800px;
}

.btn{
    display:block;
    border:1px solid rgb(17, 17, 122);
    padding:1.5rem 2.5rem;
    background:rgb(255, 255, 255);
    color: blue;
    border-radius: 10px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top:2rem;
    justify-self:flex-end;
}

.line{
    border:2px solid rgb(17, 17, 122);
    width: 100%;
}
.projects-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-gap:2rem;
}

.project{
    display:flex;
    flex-direction:column;
    align-items: center;
    background: #2a64e071;
    padding:0.7rem;
    height:100%;
}

.project-desc{
    text-align: center;
    font-size: 1.7rem;
}

.project-title{
    font-family: 'RocknRoll One', sans-serif;
    font-size:2.5rem;
}
.project-title::after{
    display:block;
    content: "";
    margin-top:1rem;
    border-bottom: 2px solid blue;;
}
.circle{
    border-radius: 50%;
    height:200px;
    width:200px;
    position:fixed;
    z-index:-1;
    background: rgba(255, 255, 255, 0.192);
}

.circle1{
    left:15%;
    top:5%;
}

.circle2{
    right:15%;
    top:25%;
}

.circle3{
    right:40%;
    top:-5%;
}
.circle4{
    left:65%;
    bottom:20%;
}

.circle5{
    left:15%;
    bottom:-10%;
}

@media (max-width:768px){
    .projects-container{
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    }
    html{
        font-size:8px;
    }
    .project{
        margin:0 20px;
    }
}