*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.box-wrapper{
    border: 2px solid red;
    display:flex;
    align-items: stretch;
    max-width: 1200px;
}

.box{
    border: 2px solid green;
    width:600px;
}

.box1{
    background-color:rgb(252, 30, 178);
}

.box2{
    background-color:rgb(86, 212, 170);
}

.box3{
    background-color:rgb(97, 201, 201);
}

.box4{
    background-color:rgb(126, 201, 97);
}

.box5{
    background-color:rgb(236, 141, 52);
}