@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root{
  --desaturated-red:hsl(0, 36%, 70%);
  --soft-red:hsl(0, 93%, 68%);
  --dark-red: hsl(0, 6%, 24%);
}

input::placeholder{
	color:var(--desaturated-red);
}
*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}

body{
  font-family: 'Josefin Sans', sans-serif;
  background-size: cover;
  background-image: url('./images/bg-pattern-desktop.svg');
  background-position:left ;
}

.container{
  display:flex;
  min-height: 100vh;
}

.left{
  width:60%;
  justify-self: center;
  padding:0 40px;
}
.inner-container{
	max-width: 450px;
	margin-left:25%;
	margin-top:70px;
}
.right{
  width:40%;
}

.bg-image{
	background:url('/images/hero-desktop.jpg');
	background-size: cover;
	background-position: center center;
}

.logo{
	margin:60px;
	margin-left:20%;
	width: 160px;
}

h1{
	text-transform:uppercase;
	font-size:70px;
	letter-spacing: 20px;
	color:var(--dark-red);
	line-height: 1.1;
}

h1 span{
	font-weight:200;
	color:var(--desaturated-red);
}

p{
	color:var(--desaturated-red);
	line-height:26px;
	margin:40px 0;
}

form{
	position: relative;
}

form.error{

}

input:focus{
	outline:none;
	box-shadow:0px 0px 10px hsla(0, 36%, 70%,0.5);
	border-width: 2px;

}
form.error input{

	border: 1px solid var(--soft-red);
}
input{
	background-color: transparent;
	border:1px solid var(--desaturated-red);
	border-radius: 50px;
	padding:15px 30px;
	width:100%;
	height:54px;
	font-size:16px;
}

button{
	position:absolute;
	top:0;
	cursor: pointer;
	right:0;
	background-image:linear-gradient(135deg,hsl(0, 80%, 86%),hsl(0, 74%, 74%));
	padding:15px;
	border:none;
	border-radius: 50px;
	padding:15px;
	width:100px;
	box-shadow:2px 5px 10px hsla(0, 36%, 70%,0.5);
	transition: opacity 0.2s ease;
}
button:hover{
	opacity: 0.6;
}
small{
	display:block;
	margin-top:15px;
	margin-left:30px;
	display:none;
	color:var(--soft-red);
}
.error-icon{
	position: absolute;
	top:15px;
	right:120px;
	display:none;

}

form.error .error-icon{
	display: block;
}

form.error .small{
	display:block;
}

@media (max-width: 1075px){
	.inner-container{
		margin-left:0%;
	}
}
@media screen and (max-width:800px){
	.left{
		width:100%;
		padding:0;
	}

	.bg-image{
		display: none;
	}

	.logo{
		margin-left:30px;
	}
	.inner-container {
		text-align: center;
		margin: 0 auto;
	
	}
	h1{
		font-size: 50px;
		letter-spacing: 15px;
	}
	.sm-image{
		background:url('/images/hero-mobile.jpg');
		background-size: cover;
		background-position: top center;
		width:100%;
		height: 350px;
		margin-bottom: 100px;
		object-fit: cover;

	}
}

@media screen and (max-width:500px) {

	.sm-image{
		height:250px
	}

	p,
	form{
		margin:40px 20px;
	}
	
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
