@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray:hsl(204, 43%, 93%);
    --gray-blue:hsl(218, 22%, 67%);
}

html{
    font-size:62.5%;
}

body{
    font-family: 'Karla', sans-serif;
    background:var(--light-gray);
    display:flex;
    align-items:center;
    justify-content: center;
    height:100vh;
    flex-direction:column;
}

h1{
    font-size:3rem;
    color:var(--cyan);
}

h2{
    font-size:2rem;
    color:white;
}

.btn{
    width: 100%;
    display:block;
    text-decoration: none;
    border-radius: 7px;
    text-align:center;
    margin: 2rem auto;
    padding: 1.5rem;
    font-size:1.7rem;
    font-weight: 700;
    background:var(--bright-yellow);
    color:white;
}
.container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    max-width: 600px;
    width:90%;
    border-radius: 20px;
}

.item{
    padding:2rem 4rem;
}
.item1{
    background:white;
    grid-column:1/-1;
}
.item1 h2{
    color:var(--bright-yellow);
}

.item1 p{
    font-size:1.3rem;
    color:var(--gray-blue);
}
.item2{
    background:#2bb3b1;

}

.item2 .price{
    font-size:3rem;
    color:var(--light-gray);
    font-weight: 600;
}

.item2 h3,p{
    color:white;
    font-size:1.3rem;
}

.item3{
    background:#4abebd;

}
ul{
    margin:0;
    padding:0;
}
ul li{
    list-style: none;
    margin:.3rem 0;
    color:var(--light-gray);
    line-height:1.3;
    font-size:1.2rem;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }