body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background: url('back.jpg') no-repeat center center fixed;
}

.container{
    width: 40%;
    background-color: rgb(220, 226, 226);
    margin: auto;
    margin-top: 20vh;
    overflow: hidden;
    padding: 4rem;
    border-radius: 20px;
    opacity: 0.8;
    text-align: center;
}

label{
    font-size: .8rem;
}
a{
    text-decoration: none;
}

form input{
    width: 70%;
    padding: 1rem;
}

form input[type=checkbox]{
    width: auto;

}

.btn{
    width: 40%;
    padding: 1rem;
    background-color: rgb(77, 72, 72);
    opacity: 0.8;
    color: #fff;
    font-size: 1rem;
}

@media screen and (max-width:1000px){
    .container{
        width: 60%;
    }
}
@media screen and (max-width:700px){
    .container{
        width: 80%;
    }
}