@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&family=Poppins:wght@400;500;700&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
}

ul li{
    list-style: none;
}

a{
    font-size: 1.6rem;
    text-decoration: none;
}

p,li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing:0.15em;
}
h1{
    font-family: 'Russo One', sans-serif;
    margin-bottom: 0.5em;
    letter-spacing:0.2em;
    font-weight: 500;
}
h2,h3{
    margin-bottom: 0.5em;
    letter-spacing:0.2em;
    font-weight: 500;
}
/* Utilities */

.container{
    max-width: 1200px;
    width: 90%;
    margin:auto;
}

.btn{
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: 500;
}

.btn-primary{
    background-color: #61311ebb;
    color:#fff;
    padding:1em 4.5em;
    transition: background 0.3s ease-in-out;

}

.btn-secondary{
    background-color: #61311ebb;
    color:#fff;
    padding:0.5em 2.5em;
    transition: background 0.3s ease-in-out;
}

.lg-heading{
    font-size: 3.5rem;
}

.md-heading{
    font-size: 2.2rem;
}

.section-heading{
    font-size: 2.8rem;
}

.text-red{
    color: #762b19;
}

/* Navbar Styling */

.navbar{
    position: fixed;
    width: 100%;
    background:rgba(233, 230, 230, 0.63);
    color: #000;
    z-index:10;
}

.navbar-container{
    display:flex;
    justify-content: space-between;
    margin: auto;
    height:70px;
}
.navbar-container .logo{
    color: rgb(148, 69, 69);
    margin: auto 0;

}
.navbar-container .menu-items {
    display: flex;
    margin: auto 0;
    color: #000;

}

.menu-items li{
    margin-left: 3.5rem;
    font-size:1.8rem;
}
.menu-items a{
    color: rgb(26, 23, 23);
    text-decoration: none;
}

.menu-items a:hover{
    color:#762b19;
    border-bottom: 2px solid #792b18;
    padding-bottom: 3px;
}


/* Header */

.header{
    height:90vh;
    background:url(../img/farm.jpg);
    object-fit: cover;
    object-position: center;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.header-container{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
    color: #fafafa;
    text-align: center;
}

.header-container p{
        font-weight: 500;
}

/* Products */

.products{
    background-color:rgb(245, 245, 245);
}

.products h2{
    text-align: center;
    padding: 2rem 0;
    font-weight: 500;
    text-transform: uppercase;
}

.products-container{
    display: flex;
    justify-content:space-between;
}  

.products-container img{
    display:block;
    margin: 2rem auto;
    width: 250px;
    height:250px;
    object-fit: cover;
    object-position: center;
}


.product{
    background-color:rgb(255, 255, 255);
    margin:2rem;
    display:flex;
    flex-direction: column;
}

.product p{
    text-align: center;
    font-size:1.4rem;
    color: rgb(99, 98, 98);
}

.product a{
    margin: 2rem auto;
    
}


/* Contact Section */
.contact h2{
    text-align: center;
    padding: 2rem 0;
    font-weight: 500;
    text-transform: uppercase;
}

.contact-container{
    display: flex;
}
.contact-heading {
    width: 50%;
    font-weight: 900;
    font-style: bold;
}
.contact-container .form-container{
    width: 50%;
}
.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-container input,.form-container textarea{
    display: block;
    width: 100%;
    font-size:1.5rem;
    padding:0.8rem;
    margin:2rem;
    border:none;
    background:rgb(241, 241, 241);
    border-left: 3px solid #792b18;
    outline: none;
}

/* Media Queries */

@media (max-width: 500px){
    .navbar-container{
        height:100px;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
}

@media (max-width: 1080px){
    html{
        font-size:10px;
    }
    .products-container{
        flex-direction: column;
    }

    .contact-container {
        flex-direction: column;

    }

    .contact-heading,.contact-container .form-container{
        width:90%;
    }
}

@media (orientation:landscape) and (max-height:500px){
    .header-container{
        height:60vmax;
    }

    
}