
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: roboto;
    margin: 0px;
    padding: 0px;
    font-weight: 300;
    overflow: hidden;
    background: url(../img/back.jpg) no-repeat center center fixed;    
}
h1,h2,h3,h4,h5,h6{
    font-weight: 300;
}

#wrapper{
    display: flex;
    flex-direction: row;

}

#left{
    display: flex;
    flex-direction: column;
    flex:1;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#right{
    flex:1;
}

#signin{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-bottom: 1rem;

}
#signin form{
    width: 80%;
    padding-bottom: 3rem;
}

#signin .logo{
    margin-bottom: 8vh;
}

#signin label{
    color: #ffffff;
    font-size: 0.9rem;
    line-height: 2rem;
    font-weight: 500;
}

#signin .text-input{
    margin-bottom:1.3rem ;
    width: 100%;
    border-radius: 2px;
    background: #181818;
    border: 1px solid #555;
    color: #ccc;
    padding: 0.5rem 1rem;
    line-height: 1.3rem;
}
#signin .primary-btn{
    width: 100%;
}

#signin .secondary-btn,
.or,
.links{
    width: 60%;
}

#signin .links a{
    color: #ffffff;
    text-decoration: none;
    display: block;
    margin-bottom:1rem;
    text-align: center;
    font-size: 0.9rem;
}

#signin .or{
    display: flex;
    flex-direction: row;
    margin-bottom: 1.2rem;
    align-items: center;
}
#signin .or .bar{
    flex: auto;
    border: none;
    height: 1px;
    background: #aaa;

}

#signin .or span{
    color: #ccc;
    padding: 0 0.8rem;
}

/*Button*/

.primary-btn{
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 0;
    border-radius: 2px;
    font-weight: 500;
    background-color: rgb(26, 73, 226);
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
    
}
.primary-btn:hover{
    background-color: rgb(43, 88, 235);

}

.secondary-btn{
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 1px solid #fed766;
    border-radius: 2px;
    font-weight: 500;
    background-color: none;
    color: #fed766;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
    
}
.secondary-btn:hover{
    border:2px solid #fed766;
    color: #fed766;
    font-weight: 700;
}

/*showcase*/

#showcase{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#showcase .showcase-text{
    font-size: 3rem;
    width: 100%;
    color: #fed766;
    

}

#showcase .secondary-btn{
    margin: auto;
    width: 60%;
}
/*Footer*/
#main-footer{
    color: #ccc;
    text-align: center;
    font-size: 0.8rem;
    max-width: 80%;
    padding-top: 5rem;
}
#main-footer a{
    color:rgb(26, 73, 226);
    text-decoration: underline;
}

/*Media Queries*/

@media(min-width:1200px){
    #left{
        flex:4;
    }
    #right{
        flex:6;
    }
}

@media(max-width:768px){
    body{
        overflow: auto;
    }
    #left{
        justify-content: start;
        margin-top: 4vh;
    }
    #right{
        display: none;
    }
    #signin .logo{
        margin-bottom: 2vh;
    }

    #signin .text-input{
        margin-bottom: 0.7rem;
    }

    #main-footer{
        padding-top: 1rem;
    }
}