body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: url('../bg.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: sans-serif;
}

.container{
    width: 40%;
    margin: auto;
    overflow: hidden;
    padding: 1rem;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    margin-top:20vh ;
    opacity:0.8;
}
hr{
    width: 80%;
}

.fb{
    padding: 0.5rem 2rem;
    color: #fff;
    background-color: #254861;
    border: none;
    border-radius: 5px;
}
a{
    text-decoration: none;

}
.container input{
    padding: 0.5rem;
    width: 70%;
}
.container input[type=checkBox]{
    width: auto;
}
.btn{
    padding: 1rem;
    background-color: #2ecc71;
    font-size: 1rem;
    width: 50%;
    border-radius: 7px;
    border: none;
    color:#fff ;
    margin: 5%;
}
@media screen and (max-width:1000px){
    .container{
        width: 60%;
    }
}
@media screen and (max-width:700px){
    .container{
        width: 80%;
    }
}